html, body {
	height: 100%;
	overflow: hidden;
}
/******************************************************************************/
/* コンテナ領域(メイン) */
div#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background:    -moz-linear-gradient(-45deg, rgba(201,235,252,0.6) 0%, rgba(125,185,232,0) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(201,235,252,0.6)), color-stop(100%,rgba(125,185,232,0)));
	background: -webkit-linear-gradient(-45deg, rgba(201,235,252,0.6) 0%,rgba(125,185,232,0) 100%);
	background:      -o-linear-gradient(-45deg, rgba(201,235,252,0.6) 0%,rgba(125,185,232,0) 100%);
	background:     -ms-linear-gradient(-45deg, rgba(201,235,252,0.6) 0%,rgba(125,185,232,0) 100%);
	background:         linear-gradient(135deg, rgba(201,235,252,0.6) 0%,rgba(125,185,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99c9ebfc', endColorstr='#007db9e8',GradientType=1 );
}
/******************************************************************************/

/* ナビ領域 */
nav.control {
	position: relative;
	z-index: 1000;/* 最上位 */
	width: 100%;
	opacity: 0.8;
	background: #DDF;
}
/* ナビ領域：ボタン */
nav.control .buttons {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
/* ナビ領域：ボタン：ページ番号 */
nav.control .buttons .pageNo {
	width: 3em;
	text-align: right;
}
/* ナビ領域：ボタン：開始 */
nav.control .buttons .start {
	cursor: pointer;
}
/* ナビ領域：ボタン：前へ */
nav.control .buttons .prev {
	cursor: pointer;
}
/* ナビ領域：ボタン：プログレス */
nav.control .buttons .rabbitProgress {
	font-weight: bold;
}
/* ナビ領域：ボタン：次へ */
nav.control .buttons .next {
	cursor: pointer;
}

/* ナビ領域：オーバーレイ */
nav.control .overlays {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	pointer-events: none;
}
/* ナビ領域：オーバーレイ：開始 */
nav.control .overlays .start {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
	opacity: 0.5;
	cursor: pointer;
	pointer-events: all;
}
nav.control .overlays .start::before {
	content: "";
	width: 150px;
	height: 150px;
	display: block;
	position: absolute;
	border-radius: 20%;
	top: 50%;
	left: 50%;
	background: gray;
}
nav.control .overlays .start::after {
	content: "";
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 45px;
	margin-left: 30px;
	background:-moz-linear-gradient(45deg, white, white 50%, transparent 50%, transparent 100%);
	background:-webkit-linear-gradient(45deg, white, white 50%, transparent 50%, transparent 100%);
	background:linear-gradient(45deg, white, white 50%, transparent 50%, transparent 100%);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
/* ナビ領域：オーバーレイ：前へ */
nav.control .overlays .prev {
	float: left;
	position: relative;
	width: 15%;
	cursor: pointer;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
	opacity: 0.0;
	pointer-events: all;
}
nav.control .overlays .prev::after {
	content: "";
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -20px;
	border-style: solid;
	border-width: 10px 0px 0px 10px;
	border-color: white;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* ナビ領域：オーバーレイ：次へ */
nav.control .overlays .next {
	float: right;
	position: relative;
	width: 15%;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
	cursor: pointer;
	opacity: 0.0;
	pointer-events: all;
}
nav.control .overlays .next::after {
	content: "";
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -25px;
	margin-right: -20px;
	border-style: solid;
	border-width: 10px 10px 0px 0px;
	border-color: white;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
nav.control .drop {
	line-height: 50px;
	height: 0px;
	position: absolute;
	font-weight: bold;
	font-size: 2.0em;
	opacity: 0.5;
	pointer-events: all;
}
nav.control .drop::before {
	content: "Drag & Drop slideshow file.";
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: transparent;
}

/* 著作表記 */
nav.control #copyright {
	float: right;
	width: auto;
	padding-top: 7px;
	text-align: right;
	font-size: 0.8em;
	position: relative;
	color: #444;
	opacity: 0.8;
}
nav.control #copyright::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
nav.control #copyright::after {
	clear: both;
}

/******************************************************************************/
/* スライド読込領域 */
article#slide {
	padding: 20px;
	font-family: Verdana,"ヒラギノ角ゴ Pro W3","メイリオ", sans-serif;
	font-size: 2.0em;
}
/******************************************************************************/
/* インデント文字 */
span.indent-text {
	font-size: x-small;
	opacity: 0.4;
	margin-left:  1px;
	margin-right: 1px;
	width: 3em;
	height: 1em;
	position: relative;
	display: inline-block;
	font-family: "ＭＳ ゴシック";
}
span.indent-text::before {
	content: "≫";
	position: absolute;
	top: 0px;
	left: 0px;
}

/* 下線 */
span.underline {
	text-decoration: underline;
}

/* 上線 */
span.overline {
	text-decoration: overline;
}

/* デバッグ用 */
article#slide article {
	border: 1px white solid;
	margin-bottom: 5px;
}

/* うさぎ */
article#rabbit {
	opacity: 0.5;
	margin-top: -10px;
	background: pink;
	height: 10px;
	width: 0px;
	position: relative;
	z-index: 200;/* プレゼン領域の上、かめの上 */
}
article#rabbit::before {
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0px;
	right: -10px;
	border: 5px solid transparent;
	border-left-color: pink;
}
article#rabbit::after {
	content: url("../img/rabbit.png");
	display: block;
	margin-top: -55px;
	margin-right: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}

/* かめ */
article#turtle {
	opacity: 0.7;
	margin-top: -10px;
	background: yellowgreen;
	height: 10px;
	width: 0px;
	position: relative;
	z-index: 300;/* プレゼン領域とうさぎの上、コントロールの下 */
	/* アニメーション時間の5sは仮置き */
	        transition: width 5s linear;
	   -moz-transition: width 5s linear;
	-webkit-transition: width 5s linear;
	     -o-transition: width 5s linear;
}
article#turtle::before {
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0px;
	right: -10px;
	border: 5px solid transparent;
	border-left-color: yellowgreen;
}
article#turtle::after {
	content: url("../img/turtle.png");
	display: block;
	margin-top: -55px;
	margin-right: -45px;
	position: absolute;
	top: 0px;
	right: 0px;
}

/* 左寄せ */
.left {
	text-align: left;
}
/* 中央寄せ */
.center {
	text-align: center;
}

/* 右寄せ */
.right {
	text-align: right;
}

/*EOF*/